<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Spinnaker Internal" value="https://pkgs.dev.azure.com/SpinnakerSoftwareDevops/_packaging/Spinnaker.Internal/nuget/v3/index.json" />
    <add key="LocalPackagaes" value="C:\Nuget" />
    <add key="DevExpress 25.1 Local" value="C:\Program Files\DevExpress 25.1\Components\System\Components\Packages" />
    <add key="DevExpress 25.2 Local" value="C:\Program Files\DevExpress 25.2\Components\System\Components\Packages" />
    <add key="local-nupkg" value=".\nupkg" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Spinnaker Internal">
      <package pattern="Spinnaker.*" />
    </packageSource>
    <packageSource key="LocalPackagaes">
      <package pattern="Local.*" />
    </packageSource>
    <packageSource key="DevExpress 25.1 Local">
      <package pattern="DevExpress*" />
    </packageSource>
    <packageSource key="DevExpress 25.2 Local">
      <package pattern="DevExpress*" />
    </packageSource>
    <packageSource key="local-nupkg">
      <package pattern="graphify-dotnet" />
      <package pattern="graphify-dotnet-core" />
    </packageSource>
  </packageSourceMapping>
</configuration>
